{% extends "base.html" %}
{% from "user_form.html" import render_user_form %}

{% block title %}Редактирование пользователя - {{ super() }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h2>Редактирование пользователя</h2>
            </div>
            <div class="card-body">
                {{ render_user_form(url_for('edit_user', user_id=user.id), user=user, roles=roles, errors=errors, form_data=form_data, show_auth_fields=False) }}
            </div>
        </div>
    </div>
</div>
{% endblock %} 